body {
  background-color: black;
  color: aliceblue;
  position: relative;
}
.conteiner {
  position: absolute;
  left: 25%;
  border-style: solid;
  width: 800px;
  height: 2000px;
}
h1 {
  position: relative;
  text-align: center;
  font-size: 80px;
  bottom: 40px;
}
.main {
  position: absolute;
  border-style: solid;
  border-color: black;
  border-top-color: aliceblue;
  width: 650px;
  left: 30%;
  margin-top: 120px;
}
h2 {
  font-size: 30px;
}
.input {
  height: 40px;
  width: 280px;
  border-radius: 10px;
}
.iput {
  position: relative;
  left: 330px;
  bottom: 63px;
}

.adres {
  height: 40px;
  width: 650px;
  border-radius: 10px;
}
.ssss {
  position: relative;
  left: 330px;
  bottom: 63px;
}
.margin {
  margin-top: 30px;
}
.zip {
  position: relative;
  bottom: 45px;
}
#select {
  width: 500px;
  height: 40px;
  border-radius: 10px;
}
.email {
  position: relative;
  left: 330px;
  bottom: 63px;
}
.personal {
  position: relative;
  bottom: 20px;
}
span {
  margin-right: 40px;
  font-weight: bolder;
}
.seven{
  margin: 10px;
}
#submit{
  position: relative;
  left: 300px;
  padding: 15px;
  background-color: rgba(0, 85, 255, 0.934);
  border-radius: 10px;
  color: aliceblue;
  font-weight: bolder;
  font-size: 25px;
  border-color: aliceblue;
  width: 150px;
  
}
